@font-face {
    font-family: HankenGrotesk-Bold;
    src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: HankenGrotesk-ExtraBold;
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

@font-face {
    font-family: HankenGrotesk-Medium;
    src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
}


*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(0, 0%, 100%);
    flex-direction: column;
}

.details {
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    background: hsl(0, 0%, 100%);
    box-shadow: 12px 12px 18px 12px  hsl(221, 100%, 96%);
    /* background: red; */
    border-radius: 1.4em;
}

.left, .right {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    text-align: center;
}

.left {
    width: 50%;
    background: linear-gradient(180deg, hsla(241, 81%, 54%, .7), hsla(241, 81%, 54%, 1));
    text-align: center;
    place-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 1.4em;
}

.left h6 {
    color: hsl(241, 100%, 89%);
    font-size: 1em;
    font-family: HankenGrotesk-Bold;
    padding-bottom: 1em;
}


.num {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);;
    display: flex;
    flex-direction: column;
    place-content: center;
    font-size: 3.3em;
    font-family: HankenGrotesk-ExtraBold;
    background: linear-gradient( 180deg, hsla(256, 72%, 46%, .5), hsla(256, 72%, 46%, .03));
    
}

.num span {
    font-size: .21em;
    color: hsl(241, 100%, 89%);
    
    
}

.left h4 {
    padding: 1.2em 0 .7em;
    color: hsl(0, 0%, 100%);
    font-size: 1.3em;
    font-family: HankenGrotesk-Bold;
}

.left .p {
    font-size: .9em;
    font-family: HankenGrotesk-ExtraBold;
    color: hsl(241, 100%, 89%);
    padding: 0 1.5em;
    

}


.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.right .p {
    color: hsl(224, 30%, 27%);
    font-size: 1.2em;
    font-family: HankenGrotesk-Bold;
    padding: 1.5em 1em .5em;
    display: flex;
    align-self: flex-start;

}

.right .e {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: .8em;
    
    
}

.e li {
    width: 180px;
    padding: .6em 1.2em;
    margin: 0 6em;
    border-radius: .4em;
    margin-bottom: .7em;
    font-family: HankenGrotesk-Bold;
    font-size: .91em;
    display: flex;
    flex-direction: row;
    gap: 13px;
    
    
}

.e li:first-child {
    color: hsl(0, 100%, 67%);
    background: hsla(0, 100%, 67%, .1);
}

.e li:nth-child(2) {
    background: hsla(39, 100%, 56%, .1);
    color: hsl(39, 100%, 56%);
}

.e li:nth-child(3) {
    background: hsla(166, 100%, 37%, .1);
    color: hsl(166, 100%, 37%);
}

.e li:last-child {
    background: hsla(234, 85%, 45%, .1);
    color: hsl(234, 85%, 45%);
}

.e li img {
    font-size: .91em;
}

.e li span {
    gap: 13px;
}

.e li .a {
    padding-left: 1.7em;

}
.e li .s {
    padding-left: 2.6em;

}

.e li .b {
    color: hsl(224, 30%, 27%);
}

.e li .c {
    color: hsl(241, 100%, 89%);

}


.right button {
    outline: none;
    border: none;
    background: hsl(224, 30%, 27%);
    
    color: hsl(0, 0%, 100%);
    padding: .7em 6.2em;
    display: flex;
    text-align: center;
    font-family: HankenGrotesk-ExtraBold;
    justify-content: center;
    border-radius: 2em;
    margin-top: .7em;
    margin-bottom: 2.4em;
    cursor: pointer;
}

.right button:hover {
    background: hsl(241, 81%, 54%);

}

.attribution {
    text-align: center;
    font-size: 11px;
    margin-bottom: 7em;
}

.attribution a {
    text-decoration: none;

}